{% extends "page.njk" %}

{% block body %}
    <section class="section">
        <div class="container">
            <h1 class="title">
                Accord Project Model Repository
            </h1>
            <p class="subtitle">
                Open Source Data Models for Smart Legal Contracts, DLT and more...
            </p>
            <a href="https://github.com/accordproject/models">
                <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
                    alt="Fork me on GitHub">
            </a>

            <p>
                <a href="/">
                    <img src="./accord_logo.png" />
                </a>
            </p>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="title is-2">Welcome!</h2>
            This repository host all Accord Project models. Models are captured using the
            <a href="https://hyperledger.github.io/composer/latest/reference/cto_language">Hyperledger Composer Modeling Language (CML)</a>; a platform and runtime neutral typed schema language. The CML
            meta-model provides just-enough functionality to capture most business models and maps naturally to many executions
            languages. The CML runtime stack is implemented in JavaScript and CML instances serialize to JSON. CML models
            can also be exported to Java, Go, and Typescript.
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="title is-2">Contributing</h2>
            To contribute new models (or fix existing models), importers or exporters, you can fork this GitHub repository and submit
            pull requests to the maintainers. Please join the
            <a href="http://accordproject.org">Accord Project</a> Technology Working Group Slack channel.
        </div>
    </section>

    <section class="section">
        <div class="container">
            <h2 class="title is-2">Model Namespaces</h2>
            <p>
                <ul>
                    {% for e in modelFileIndex %}
                    <li>
                        <a href="{{e.htmlFile}}">{{e.modelFile.getNamespace()}}</a> ({{e.modelFile.getAllDeclarations().length}} types)
                    </li>
                    {% endfor %}
                </ul>
            </p>
        </div>
    </section>
{% endblock %}