<h1>Namespace <a href="{{modelFilePath}}">{{modelFile.getNamespace()}}</a></h1>

<h2>Diagram</h2>
<img src="{{umlURL}}"/>

<h2>Importable Types</h2>
<ul>
{% for decl in modelFile.getAllDeclarations() %}
<li>
<pre>import {{decl.getFullyQualifiedName()}} from {{modelFilePath}}</pre>
</li>
{% endfor %}
</ul>

<h2>Source</h2>
<pre>
{{modelFile.getDefinitions()}}
</pre>